.mt-controller {
  /* position: fixed; */
  display: flex;
  align-items: center;
}
.mt-controller-grab {
  cursor: grab;
  width: 10px;
  height: 100%;
  /* background: #999; */
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.right {
    left: auto;
    right: -15px;
  }
}
